<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit cars</title>
</head>
<body>
    <h1>Edit Car</h1>
    <form action="/cars/<%= carDoc._id %>?_method=PUT" method="POST">
      <div>
        <label for="make">Make</label>
        <input type="text" id="make" name="make" value="<%= carDoc.make %>" required />
      </div>
      <div>
        <label for="model">Model</label>
        <input type="text" id="model" name="model" value="<%= carDoc.model %>" required />
      </div>
      <div>
        <label for="year">Year</label>
        <input type="number" id="year" name="year" value="<%= carDoc.year %>" required />
      </div>
      <div>
        <label for="price">Price</label>
        <input type="number" id="price" name="price" value="<%= carDoc.price %>" required />
      </div>
      <div>
        <label for="isDrivable">Ready to drive</label>
        <input type="checkbox" id="isDrivable" name="isDrivable" <%= carDoc.isDrivable ? 'checked' : '' %> />
      </div>
      <button type="submit">Update</button>
    </form>
</body>
</html>