<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>CARS: <%= carDoc.make %> <%= carDoc.model %></h1>
    <p>Year: <%= carDoc.year %></p>
    <p>Price: <%= carDoc.price %></p>

    <% if (carDoc.isDrivable === true) { %>
    <span>Ready to drive</span>
    <% } else { %>
    <span>Not Ready to drive</span>
    <% } %>
    <br />

    <a href="/cars/<%= carDoc._id %>/edit">Edit</a>

    <form method="POST" action="/cars/<%= carDoc._id %>?_method=DELETE">
      <button type="submit">Delete resource</button>
    </form>
  </body>
</html>
